.main{
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.homeContainer{
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.topContainer >h1{
 font-size: 2rem;
 font-weight: 600;
 line-height: 99%;
 margin-bottom: 15px;
}


.topContainer >p{
    color: rgba(255, 255, 255, 0.579);
 font-size: 1rem;
 line-height: 99%;
}

.getStartedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.getStarted, .adminConsole{
    background-color: var(--color-surface-1);
    border:  var(--border-surface-1);
    font-size: 1.5em;
    border-radius: 50px;
    min-width: fit-content;
    padding: 10px 25px;
}

.login{
    color: var(--color-text-muted);
    text-decoration: underline;
}