/* .children{
    background: var(--color-background) !important;
    position: relative;
    margin-top: calc(var(--topBarHeight) + var(--space-top));
    margin-bottom: var(--space-bottom);
    padding: 1px;
    } */

.layoutRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.children {
  padding: 0px var(--margin-x);
  padding-bottom: var(--space-bottom);
  padding-top:  var(--space-top);
  /* display: flex; */

  flex-direction: column;
  
}
