/* .container{
    padding-top: calc(var(--topBarHeight));
}
 */
.rootContainer {
  scrollbar-gutter: stable;
}

.treePreviewContainer {
  display: none;
}

.childrenContainer{
  max-width: var(--desktopMainUIContainerMaxWidth);
  margin: 0px auto;
}


/* @media (width > 1024px) {
  .rootContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    z-index: calc(var(--NavContainerZIndex) - 1);

    padding-top: calc(var(--topBarHeight) + var(--space-top));
  }
  .childrenContainer {
    margin: 0px var(--margin-x);

    overflow-y: scroll;
  }
  .childrenContainer::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  .treePreviewContainer {
    display: block;
    position: relative;
  }

  .treePreview {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90%;
    max-width: 295px;
    overflow: hidden;
    border-radius: 15px;
    z-index: -1;
  }
} */
