/* .rootContainer {
  scrollbar-gutter: stable;  
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows:  1fr;
  gap: 10px;
  border: 3px solid green;
  overflow: visible;
  height: 87vh !important;

}


.childrenContainer{
  max-width: var(--desktopMainUIContainerMaxWidth);
  margin: 0px auto;
  border: 3px solid red;
  overflow-y: auto !important;
  height: 100%;
  width: 100%;
} */

.treePreviewContainer {
  height: 100%;
  /* border: 3px solid yellow; */
}

.childrenContainer{
  max-width: var(--desktopMainUIContainerMaxWidth);
  margin: 0px auto;
}