.nav {
    flex: 1;
    display: flex;
    margin: 0px var(--margin-x);
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    width: auto;
    flex-grow: 1;
}

.navItemContainer {
    /* flex: 1; */
    height: 100%;
    /* width:fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    color: var( --color-text-main);
    border-radius: 10px;
    font-size: 1.2em;
}

@media (width > 1024px){
    .nav{
        gap: 15px;
    }
}