.title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.container{
    background-color: var(--backgroundSecondary);
    border-radius: 15px ;
    box-shadow: 0px 0px 2px 1px white;
    padding: 20px;
} 

.profileImageEditContainer {
    width: auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 20px;
}

.profileImageContainer {
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    background-color: var(--color-surface-2);
}

.profileImageContainer > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.profileImage {
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    /* border: 5px solid saddlebrown; */
}

.profileImageEditOptionsContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.saveButton {
    background-color: var(--color-surface-3);
    border: var(--border-surface-1);
    color: var(--color-text-primary);
    font-weight: 450;
    border-radius: 50px;
    padding: 10px;
}