.PageWrapper{
  margin: 0px auto;
  width: 100%;
  max-width: var(--desktopMainUIContainerMaxWidth);
}

.selectTreeContainer {
  margin-bottom: 30px;
}

.settingsContainer .settingsTitle {
  opacity: 0.65;
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 15px;
}

.settingLinksContainer {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 15px;
  flex-direction: column;
}
