/* .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
} */

/* .linksEditorContainer {
    padding-top: 70px;
    height: 100dvh;
    overflow-y: scroll;
    margin-top: 70px;
    position: relative;
    border-right: 1px solid white;
} */

/* .treePreviewContainer {
    position: sticky;
    z-index: 1;
    top: 0%;
    right: 0%;
    padding-top: 70px;
    height: 100dvh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
} */

/* @media (width <=1024px) {
    .container {
        display: block;
    }

    .linksEditorContainer {
        margin: 90px 15px;
    }

    .treePreviewContainer {
        display: none;
    }
} */