.container {
    margin: auto;
    max-width: var(--desktopMainUIContainerMaxWidth);
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 25px;
    color: var(--color-text-main);
}

.topContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.topContainer>h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-text-main);
}

.topContainer>p {
    font-size: 15px;
    color: var(--color-text-main);
    opacity: 0.7;
}

.formContainer {
    /* box-shadow: 0px 0px 2px 1px white; */
    border-radius: 25px;
    /* padding: 20px 15px; */

}

.createTreeButton {
    background-color: var(--color-primary);
    color: var(--color-text-contrast-primary);
    padding: 10px 15px;
    border-radius: 50px;
    margin: auto;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}

.nameContainer{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.input {
    background-color: var(--color-surface-1);
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: var(--shadow-1);
    margin-top: 15px;
}

.inputContainer {
    margin-bottom: 15px;
}

