.title{
    opacity: .6;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.accountSettingsContainer {
    background-color: var(--color-surface-1);
    border-radius: 20px;
    padding: 10px;
}

.delete{
    color: red;
}

.accountSetting:last-child  .separator{
    display: none;
}
.link{
    /* background: red; */
    padding: 7px;
    margin: 3px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;

}

.settingTitle{
    font-size: 1rem;
    font-weight: 300;
}

.separator{
    height: 1px;
    background-color: var(--color-border);
}