.container {
  width: 100%;
  max-width: var(--desktopMainUIContainerMaxWidth);
  margin: 0px auto;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--color-text-main);
}

.container > h1 {
  font-size: 25px;
  font-weight: 450;
  text-align: center;
  line-height: 100%;
}

.accountInfoContainer,
.accountInfoContainer > .accountInfo {
  width: 100%;
}

.accountInfoContainer > .accountInfo {

  height: 290px;
  background-color: var(--color-surface-1);
  padding: var(--margin-x);
  border-radius: 15px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  gap: 15px;
}

.accountInfoContainer > .accountInfo > div {
  flex: 1;
  /* background-color: var(--color-surface-2); */
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
  color: var(--color-text-main);
}

.label {
  font-size: 0.8rem;
  filter: opacity(0.8);
  line-height: 102%;
}

.accountInfoContainer > .accountInfo .input {
  font-size: 1rem;
  background-color: none;
  background: none;
  margin: 0px;
  outline: none;
}
.input:focus{
  outline: none;
  padding: 2px ;
  border: 1px solid var(--color-border);
  border-radius: 10px ;
}

.accountInfo:has(.input:focus) .submit{
  /* outline: none; */
  /* transform: scale(1.1); */
  animation: highlight 2s ease-in-out 4;
}

@keyframes highlight {
  0%{
    transform: scale(1);
  } 50%{
    transform: scale(1.1);
  } 100%{
    transform: scale(1);
  }
}

.accountInfoContainer > .accountInfo .info, .accountInfoContainer  .lable{
  font-size: 0.7rem;
  opacity: 0.6;
}

.accountInfoContainer  .lable{
  line-height: 100%;
}

.accountInfoContainer > .accountInfo .info{
  line-height: 104%;
}


.separator {
  border: 0.8px solid var(--color-border);
}


 .submit{
  width: 150px;
  margin-top: 10px;
  align-self: center;
  padding: 15px;
  text-align: center;
  color: var(--color-text-contrast-primary);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 100%;
  border-radius: 50px;
  background-color: var(--color-primary);
  transition: transform 0.5s ease-in-out;
}
