<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local login</title>
</head>
<body>
    <form action="/auth/local/regester", method="post", enctype="multipart/form-data">
        <input type="text", name="name", placeholder="name">
        <input type="text", name="username", placeholder="username">
        <input type="text", name="email", placeholder="email">
        <input type="text", name="password", placeholder="password">
        <input type="file" name="profPhoto" id="">
        <button type="submit">Regester</button>
    </form>
</body>
</html>