/* .container {


} */

.container button {

    width: 50vw;
    max-width: 500px;
    min-width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 1.3em;
    border-radius: 50px;
    background-color: var(--color-surface-1);
    border: var(--border-surface-1);
    color: var(--color-text-main);
    text-align: center;
}

.container p {
    font-weight: 600;
}


.icon {
    width: auto;
}