.mobieTopBarContainer{
    border-bottom: 1px solid white;
    height: var(--topBarHeight);
}

.topContainer, .bottomContainer{

    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--topBarHeight )/ 2);
    padding: 0px 20px;
}

.nav{
    width: auto;
    border: 1px solid red;
}

.logo{
    width: 25px;
}
.share{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    border-radius: 225px;
    padding: 5px 10px;
}
.shareIcon{
    width: 25px;
}

.profile{
    width: 25px;
}

