.container {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    
    z-index: calc(var(--NavContainerZIndex) + 10);

    /* z-index: 90; */
}

.container::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: calc(var(--NavContainerZIndex) + 11);
    height: 100dvh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.544);
    backdrop-filter: blur(25px);
}
.popUpContainer {
    z-index: calc(var(--NavContainerZIndex) + 13);
    height: auto;
    width: 90vw;
    max-width: 500px;
    padding: 15px 15px;
    flex-direction: column;
    background-color: var(--color-surface-floating);
    border: 2px solid white;
    border-radius: 25px;
    color: var(--color-text-main);
}


.top {
    width: auto;
    min-height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popUpTitle {
    margin-right: auto;
    font-size: 40px;
    line-height: 100%;
}

.closeButton {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.childrenContainer{
    max-height: 70dvh;
    overflow-y: scroll;
    scrollbar-gutter: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.childrenContainer::-webkit-scrollbar {
    display: none;
  }
