.container{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
}

.preview{
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.iframe{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    box-shadow: 0px 0px 5px 2px white;
    /* background-color: var(--backgroundSecondary); */
    backdrop-filter: blur(199px);
}

@media (width > 640px){
    .container{height: 80dvh;
    }
}