/* .container{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
} */

.preview{
    /* height: 100%;
    width: 100%; */
    height: 100vh;
    width: 100vw;
    border-radius: inherit;
}

.iframe{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    /* box-shadow: var(--shadow-floating); */
    /* background-color: var(--backgroundSecondary); */
    backdrop-filter: blur(30px);
  
}

.showBorder{
    border: var(--border-surface-floating);
    border-width: 5px;
    box-shadow: var(--shadow-floating);
}


    