.topBarContainer {
    position: fixed;
    top: 0%;
    width: 100vw;
    height: var(--topBarHeight);
    border-bottom: 1px solid white;
    z-index: 10;
    background-color: var(--color-top-bar);
}

.mobieTopBarContainer {
    display: none;
    border-bottom: 1px solid white;
    height: var(--topBarHeight);
}

.topContainer,
.bottomContainer {
    border: var(--border-surface-1);
    border-width: 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--topBarHeight)/ 2);
}

.topContainer {
    align-items: center;
    padding: 0px var(--margin-x);
}

.bottomContainer{
    align-items: stretch;
}

.icon {
    width: 25px;
}

.desktopTopBarContainer {
    border-bottom: 1px solid white;
    height: var(--topBarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


@media (width < 640px) {
    .mobieTopBarContainer {
        display: block;
    }

    .desktopTopBarContainer {
        display: none;
    }
}