.topBarContainer{
    position:fixed;
    top:0%;
    width: 100vw;
    height: var(--topBarHeight);
    border-bottom: 1px solid white;
    z-index: 10;
    background-color: var(--color-top-bar);
}

.mobieTopBarContainer{
    display: none;
    border-bottom: 1px solid white;
    height: var(--topBarHeight);
}

.topContainer, .bottomContainer{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--topBarHeight )/ 2);
    padding: 0px 20px;
}

.icon{
    width: 25px;
}

.desktopTopBarContainer{
    border-bottom: 1px solid white;
    height: var(--topBarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


@media (width < 640px){
    .mobieTopBarContainer{
        display: block;
    }

    .desktopTopBarContainer{
        display: none;
    }
}