.topBarContainer {
  /* position: fixed;
  top: 0%;
  width: 100vw;
  height: var(--topBarHeight); */

   position: sticky; /* or fixed */
  top: 0;
  z-index: 100;
  width: 100%;


  /* border-bottom: 1px solid white; */
  z-index: var(--NavContainerZIndex);
  background: var(--color-top-bar);
  box-shadow: var(--shadow-1);
}

.mobieTopBarContainer {
  display: none;
  /* border-bottom: 1px solid white; */
  height: var(--topBarHeight);
}

.topContainer{
  height: 60px;
} 

.topContainer,
.bottomContainer {
  border: var(--border-surface-1);
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topContainer {
  align-items: center;
  padding: 0px var(--margin-x);
}

.bottomContainer {
  align-items: stretch;
  justify-content: stretch;
}

.icon {
  width: 25px;
}

.desktopTopBarContainer {
  border-bottom: var(--border-surface-1);
  height: var(--topBarHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.right {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (width < 640px) {
  .mobieTopBarContainer {
    display: block;
  }

  .desktopTopBarContainer {
    display: none;
  }
}
