.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  padding: 5px 20px 5px 20px; /* t r b l  */
  /* border: 3px solid greenyellow; */
    flex-direction: column-reverse;

}


@media (width < 1204px) {
    .container {}

    .title {
        font-size: 15px;
    }

    .iconContaier {
        font-size: 30px;
    }

    
}
