.DNDItem{
    width:inherit;
    margin-bottom: 15px;
}

.linkContainer{
    /* min-width: fit-content; */
    width: inherit;
    padding: 10px;
    background-color: var(--color-surface-1);
    border-radius: 25px;
    border: var(--border-surface-1);
    box-shadow: var(--shadow-1);
    color: white;
}


.link{
    width: inherit ;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
}


.left, .right{
    min-width: fit-content;
    width: 25px;
}

.DNDIcon{
    font-size: 20px;
    width: auto;
    padding: 15px 5px;
    cursor: grab;
    touch-action: none;
    /* border: 1px solid green; */
}
.right{
    justify-self: flex-end;
    margin: 0px 0px 0px auto;
}
.centre{
    width:max-content;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.titleContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.titleInput, .URLInput{
    width:200px;
    background-color: inherit;
    /* border: 1px solid var(--primary); */
    border-radius: 25px;
    padding: 1px 10px;
}

.submitButton{
    opacity: 0;
}

.URLInput:focus + .submitButton{
    display: block;
    opacity: 1;
}


.titleInput:focus + .submitButton{
    display: block;
    opacity: 1;
}

.URLContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.OtherOptionsContainer{
    min-width: fit-content;

}

.OtherOptionsContainer span{
    margin: 2px;
    padding: 2px;
    width: 4px;
    height: 2px;
}