.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    border: 2px solid black;
}
.titleContainer > h1{
    font-size: 45px;
    font-weight: bolder;
}
.loginFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
}
.loginFormContainer  input{
    color: white;
}

.otherLoginWaysContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loginButton{
    height: 45px;
    background-color: var(--primary);
    color: black;
    border-radius: 50px;
    transition: transform 250ms;
}
.loginButton:hover{
    transform: scale(1.025);
}

.orText{
    margin: 10px 0px;
}

.loginWithGoogleContiner{
    width: 45vw;
}