.shareTreeButtoncontainer {
  background-color: var(--color-surface-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: var(--border-surface-2);
  box-shadow: var(--shadow-2);
  border-radius: 225px;
  padding: 5px 10px;
}

.icon {
  width: 25px;
}

.shareContainer {
  width: inherit;
  height: 50px;
  /* background-color: var(--color-background) ; */
}

.copyToClipboardContainer {
  height: inherit;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  border: var(--border-surface-1);
  box-shadow: var(--shadow-3);
}

.copyToClipboardContainer > input {
  background-color: var(--color-surface-1);
  color: var(--color-text-primary);
  overflow: hidden;
  padding: 10px;
}

.linkContainer {
  width: auto;
  flex: 1;
  font-size: 20px;
}

.separator{
  width: 2px;
  height: 100%;
  background-color: var(--color-border);
}

.copyIconContainer {
  background-color: var(--color-surface-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border-left: 1px solid white;
}



.copyIcon {
  margin: 5px;
}

.dialogShareButton {
  position: fixed;
  /* top: calc(var(--topBarHeight) + var(--space-top)); */
  top: 90px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--color-surface-floating-btn);
  font-size: 20px;
  padding: 5px 15px;
  border: var(--border-surface-1);
  border-radius: 50px;
  box-shadow: var(--shadow-floating);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dialogShareButton:hover {
  transform: scale(1.05);
}
