.treeActionsButtons{
    display: grid;
    /* grid-template-columns: auto;
    grid-template-rows: auto; */
    /* grid-template-areas: 
    'deleteTree treeUniqueName'
    'selectAsDefaultTree selectAsDefaultTree'; */

    grid-template-areas: 
    'deleteTree '
    'selectAsDefaultTree';
    gap: 10px;

}

.treeActionsButton{
    background-color: var(--color-surface-2);
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 500;
    transition: transform 0.1s ease-in-out;
}

.treeActionsButton:nth-child(1){
    grid-area: deleteTree;
}
.treeActionsButton:nth-child(2){
    grid-area:  selectAsDefaultTree;
}
/* .treeActionsButton:nth-child(3){
    grid-area: treeUniqueName ;
} */

@media (width > 1204){
    .treeActionsButton:hover{
    transform: scale(1.05);
    }
}




















