.treeActionsButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--margin);

}

.treeActionsButton{
    background-color: var(--color-surface-2);
    padding: 15px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 500;
    transition: transform 0.1s ease-in-out;
}

.treeActionsButton:hover{
    transform: scale(1.05);
}



















