.spray{

    --margin-x: 15px;
    --color-background: linear-gradient(180deg, rgb(0, 89, 255) 30%, rgb(0, 149, 255) 100%) ;
    --color-surface-1: hsl(57, 70%, 10%);
    --color-surface-2: hsl(57, 60%, 15%);
    --color-surface-3: hsl(57, 50%, 20%);
    --color-surface-floating: hsl(57, 50%, 20%);

    --color-link: hsla(0, 0%, 100%, 0);
  
    /* --color-surface-floating: hsl(118, 100%, 27%); */
    --color-overlay: hsl(57, 80%, 5%);
  
    /* Text colors */
    --color-text-primary: hsl(210, 40%, 98%);
    --color-text-contrast-primary: black;
    --color-text-secondary: hsl(210, 40%, 80%);
    --color-text-floating: white
    --color-text-muted: hsl(215, 20.2%, 65.1%);
    --color-text-link: white
  
    /* Borders */
    --color-border: hsl(217.2, 32.6%, 17.5%);
    --border-surface-floating: 1px solid rgba(255, 255, 255, 0.326);
    --color-border-muted: hsl(215, 20%, 50%);
    --border-link: 1px solid white;
     /* Borders Radius */
    --border-radius-link: 50%;

    --border-radius-thumbnail: 50%;


    
    /* Shadows */
    --shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.24);
    --shadow-2: 0px 3px 6px rgba(0, 0, 0, 0.32);
    --shadow-3: 0px 10px 20px rgba(0, 0, 0, 0.48);
    --shadow-floating: 0px 2px 10px rgba(0, 0, 0, 0.771);
  
    /* Primary colors */
    --color-primary: hsl(210, 40%, 98%);
    --color-primary-light: hsl(210, 40%, 90%);
    --color-primary-dark: hsl(57, 47.4%, 11.2%);
    --color-primary-foreground: hsl(57, 47.4%, 11.2%);
  
    /* Secondary colors */
    --color-secondary: hsl(217.2, 32.6%, 17.5%);
    --color-secondary-light: hsl(217.2, 42.6%, 27.5%);
    --color-secondary-dark: hsl(210, 40%, 96.1%);
    --color-secondary-foreground: hsl(210, 40%, 98%);
  
    /* Accent colors */
    --color-accent: hsl(174, 100%, 50%);
    --color-accent-foreground: hsl(210, 40%, 98%);
  
    /* Destructive colors */
    --color-destructive: hsl(0, 62.8%, 30.6%);
    --color-destructive-foreground: hsl(210, 40%, 98%);
  
  
    
  
}

.spray{
 margin: 100px 0px; 
 color: var(--color-text-primary);
}


.linksContainer{
    margin-top: 50px;
    width: auto;
}