.DNDItem {
  width: inherit;
  margin-bottom: 15px;
}

.icon {
  width: 1em;
  height: 1em;
}

.linkContainer {
  /* min-width: fit-content; */
  width: inherit;
  padding: 10px;
  background-color: var(--color-surface-1);
  border-radius: 25px;
  border: var(--border-surface-1);
  box-shadow: var(--shadow-1);
  color: var(--color-text-main);
}

.link {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
}

.left,
.right {
  min-width: fit-content;
  width: 25px;
}

.DNDIcon {
  font-size: 20px;
  width: auto;
  padding: 15px 5px;
  cursor: grab;
  touch-action: none;
  /* border: 1px solid green; */
}
.right {
  justify-self: flex-end;
  margin: 0px 0px 0px auto;
}
.centre {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}


.URLInput {
  width: 100%;
  background-color: inherit;
}

.submitButton {
  opacity: 0;
}

.URLInput:focus,
.titleInput:focus {
  border: none;
  outline: none;
}

.URLInput:focus + .submitButton {
  display: block;
  opacity: 1;
}

.URLContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo{
  aspect-ratio: 1/1;
  font-size: 1.2rem;
}
