.airBlack{
    --margin-x: 15px;
    --color-background: black ;

    --color-link: rgb(255, 255, 255);

    --color-overlay: hsl(57, 80%, 5%);
  
    /* Text colors */
    --color-text-link: black;
    --color-text-header: white;
    --color-text-profile: white; 
    /* Borders */
    --color-border: none;
    --border-surface-floating: 1px solid rgba(255, 255, 255, 0.326);
    --color-border-muted: hsl(215, 20%, 50%);
    --border-link: none;
     /* Borders Radius */
    --border-radius-link: 50px;


    
    /* Shadows */
    --shadow-link: none;
    --shadow-floating: none;
  
    /* Primary colors */
    --color-primary: hsl(210, 40%, 98%);
    --color-primary-light: hsl(210, 40%, 90%);
    --color-primary-dark: hsl(57, 47.4%, 11.2%);
    --color-primary-foreground: hsl(57, 47.4%, 11.2%);
  
    /* Secondary colors */
    --color-secondary: hsl(217.2, 32.6%, 17.5%);
    --color-secondary-light: hsl(217.2, 42.6%, 27.5%);
    --color-secondary-dark: hsl(210, 40%, 96.1%);
    --color-secondary-foreground: hsl(210, 40%, 98%);
  
    /* Accent colors */
    --color-accent: hsl(174, 100%, 50%);
    --color-accent-foreground: hsl(210, 40%, 98%);
  
    /* Destructive colors */
    --color-destructive: hsl(0, 62.8%, 30.6%);
    --color-destructive-foreground: hsl(210, 40%, 98%);
    
}

.airBlack{
    color: --color-text;
}

.content{
 margin: 100px 0px; 
}

.linksContainer{
    margin-top: 50px;
    width: auto;
}