.linksEditorContainer{
    width: auto;
    padding: 10px 100px;
}

.addLinkAndHeaderContainer{
    width: auto;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    gap: 25px;
}

/* .addHeaderButton{
    width: 10rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    font-weight: bold;
}

.addLinkButton{
    background-color: var(--primary);
    color: black;
}

.addHeaderButton{
    border: 1px solid white;
} */

.linksContainer{
    margin-top: 20px;
    width: inherit;
    gap: 20px;
}

@media (width<1204px){
    .linksEditorContainer{
        padding: 0px;
        margin-top: 10px;
    }

    .linksContainer{
        padding: 0px;
    }
}