/* .container {
  color: var(--color-text-main);
} */

.linksEditorContainer {
  /* height: 100%; */
  overflow-y: scroll;
  position: relative;
  color: var(--color-text-main);
}

.linksEditorContainer::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.addLinkAndHeaderContainer {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}

.loadingContainer,
.noLinksContainer,
.fetchingLinksContainer {
  
  margin-top: 20px;
  height: 100%;
  width: auto;
  color: var(--color-text-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.noLinksContainer {
  background: var(--color-surface-1, #fff);
  border-radius: 1.2em;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  /* padding: 2.5rem 2.2rem 2rem 2.2rem; */
  padding: 20px;
  min-width: 320px;
  min-height: 320px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.noLinksContainer > .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text-main, #222);
  /* margin-bottom: 0.2em; */
}
.noLinksContainer > .subtitle {
  color: var(--color-text-muted, #666);
  font-size: 1.1rem;
  /* margin-bottom: 1.2em; */
  text-align: center;
}

.linksContainer {
  width: inherit;
  gap: 20px;
}

.treePreviewContainer {
  position: sticky;
  bottom: 0%;
  right: 0%;
  padding-top: var(--topBarHeight);
  height: 100dvh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.treePreview {
  height: 80dvh;
  width: inherit;
  border-radius: inherit;
  background-color: inherit;
}

@media (width<1204px) {
  .container {
    display: block;
  }

  .linksEditorContainer {
    border-right: none;
  }

  .treePreviewContainer {
    display: none;
  }
}

@media (width<640px) {
  .linksEditorContainer {
    display: block;
  }
}
