.loadingContainer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: var(--color-surface-1);
    padding: 15px 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 1px white;
    transition: all 5s;
}

.selectedTreeContainer {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.selectedTreeProfileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.selectedTreeImageContainer {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-surface-2);
}

.selectedTreeImageContainer>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.selectedTreeTextContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.selectedTreeName {
    font-size: 1.25em;
    font-weight: 600;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.switchTree {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--color-text-primary);
    border-radius: 50px;
    padding: 5px 10px;
    height: 45px;
    font-weight: 450;
}

.createNewTreeButton {
    width: 100%;
    background-color: var(--color-surface-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    border: var(--border-surface-1);
    color: white;
    border-radius: 50px;
    padding: 5px 10px;
    height: 45px;
    font-weight: 500;
}



@media (width < 470px) {
    .selectedTreeName {
        max-width: 150px;
    }

}