.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1{
    font-size: 1.5rem;
}

.container > form > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container button,.container a {
    background-color: var(--color-primary);
    color: var(--color-text-contrast-primary);
    padding: 10px;
    width: 150px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 50px;
}

.container a{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-text-main);
}