.title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.container{
    background-color: var(--color-surface-1);
    border-radius: 15px ;
    border: var( --border-surface-1);
    box-shadow: var(--shadow-1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
}

.editTreeProfileLayoutContainer{
    margin-top: 5px;
}