.container, .loadingContainer {
    color: var(--color-text-main);
}

.loadingContainer{
    width: auto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.dynamicContainer{
    margin-bottom: 20vw;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-main);
}

.profileEditorContainer{
    margin-bottom: 25px;
}