.container, .loadingContainer {
    padding: calc(var(--topBarHeight) + 30px) 20px;
    color: white;
}

.loadingContainer{
    width: inherit;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

}

.dynamicContainer{
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.profileEditorContainer{
    margin-bottom: 25px;
}