.container {
    padding: calc(var(--topBarHeight) + 30px) 20px;
    color: white;
}

.dynamicContainer{
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.profileEditorContainer{
    margin-bottom: 25px;
}